html {
  height: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  padding: 5px 0;
  margin: 0;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  background-color: rgb(173, 231, 192);
}

.btn {
  padding: 8px 25px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.wrapper {
  width: 768px;
  height: 100%;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 10px;
}

.page-header {
  margin: 0;
  margin-top: 60px;
  font-size: 45px;
  text-align: center;
  color: #3B6347;
}

.task-form {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 70px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.task-input {
  flex-grow: 1;
  height: 45px;
  padding: 10px 20px;
  font-family: inherit;
  color: rgb(94, 84, 84);
  line-height: 25px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #000000;
}

.task-input::placeholder {
  font-size: 16px;
}

.task-input:focus {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.input-btn {
  margin-left: 45px;
  color: #ffffff;
  background-color: rgb(19, 131, 9);
  transition: all 0.15s linear;
}

.input-btn:hover,
.input-btn:focus {
  background-color: rgb(106, 30, 177);
  box-shadow: 5px 5px rgb(189, 131, 243);
}

.input-btn:active {
  opacity: 0.8;
}

.filter-wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 45px;
}

.filter-tasks {
  width: 100%;
  height: 45px;
  line-height: 25px;
  padding: 10px 20px;
  font-family: inherit;
  border: 1px solid gray;
}

.filter-tasks::placeholder {
  font-size: 16px;
}

.filter-tasks:focus {
  opacity: 0.9;
}

.clear-filter-btn {
  position: absolute;
  top: 0;
  right: 0;
  height: 45px;
  padding: 0 15px;
  font-family: inherit;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.65);
  background-color: rgb(245, 228, 228);
  /* border: none; */
  border: 1px solid gray;
  transition: all 0.1s linear;
  cursor: pointer;
}

.clear-filter-btn:hover,
.clear-filter-btn:focus {
  color: rgba(0, 0, 0, 0.9);
  background-color: rgb(236, 218, 218);
}

.clear-filter-btn:active {
  opacity: 0.6;
}

.task-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.task-list-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  padding: 10px;
  background-color: rgb(198, 253, 215);
  border: 1px solid gray;
  border-top: none;
  transition: all 0.1s linear;
  cursor: pointer;
}

.task-list-item:hover,
.task-list-item:focus {
  opacity: 0.65;
}

.task-content {
  color: rgb(94, 84, 84);
}

.delete-btn {
  position: relative;
  height: 20px;
  width: 20px;
  margin-left: auto;
  padding: 0;
  font-family: inherit;
  border: none;
  background-color: transparent;
  transition: all 0.1s linear;
  cursor: pointer;
}

.delete-btn::before {
  content: '';
  position: absolute;
  top: 3px;
  left: 9px;
  display: block;
  width: 2px;
  height: 14px;
  margin: 0 auto;
  background-color: #3B6347;
  border-radius: 40%;
  transform: rotate(45deg);
}

.delete-btn::after {
  content: '';
  position: absolute;
  top: 3px;
  left: 9px;
  display: block;
  width: 2px;
  height: 14px;
  margin: 0 auto;
  background-color: #3B6347;
  border-radius: 40%;
  transform: rotate(-45deg);
}

.delete-btn:hover,
.delete-btn:focus {
  transform: scale(1.4);
}

.clear-tasks-btn {
  position: relative;
  left: 50%;
  margin-top: 45px;
  color: #ffffff;
  background-color: #000000;
  transform: translateX(-50%);
  transition: all 0.1s linear;
}

.clear-tasks-btn:hover,
.clear-tasks-btn:focus {
  background-color: #e61717;
  box-shadow: 5px 5px #e48b8b;
}

.clear-tasks-btn:active {
  opacity: 0.7;
}

.task-input-tips {
  position: absolute;
  top: 70px;
  left: 5px;
  display: none;
  width: 100%;
  font-size: 12px;
  font-style: italic;
  color: rgb(89, 139, 106);
}

.done-task {
  text-decoration: line-through;
  color: grey;
}